<mat-progress-bar *ngIf="loading" mode="query" color="accent"></mat-progress-bar>
<mat-toolbar color="primary">
  <div class="title">
    <i class="material-icons"> mic_none</i> SQUAWK BOX
  </div>
  <div *ngIf="isAuth">
    <div class="nav-dropdown">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span><a class="dropdown-item" routerLink="/recordings">Recordings</a></span>
        </button>
        <button mat-menu-item>
          <span><a class="dropdown-item" routerLink="/devices">Devices</a></span>
        </button>
        <button mat-menu-item>
          <span><a class="dropdown-item" (click)="onLogout()">Logout</a></span>
        </button>
      </mat-menu>
    </div>
    <div class="nav-links">
      <a routerLink="/recordings" routerLinkActive="active">Recordings</a>
      <a routerLink="/devices" routerLinkActive="active">Devices</a>
      <a (click)="onLogout()">Logout</a>
    </div>
  </div>
</mat-toolbar>
<main *ngIf="!loading">
  <app-auth *ngIf="!isAuth"></app-auth>
  <router-outlet></router-outlet>
</main>

